/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
   font-family: 'Poppins', sans-serif;
}
/* Making All Carousel Images small size and same aspecr ratio */
.carousel-inner img {
   max-height: 700px;
   object-fit: cover;
   aspect-ratio: 16/9;
}
/* Creating Background Overlay */
.carousel-overlay::after{
   content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1d1d1d;
  opacity: 0.7;
}
.carousel-caption {
   z-index: 2;
}

.clr-drk-grey {
   color: #4A4A4A;
}

/* Changing Accordion Button color when  open */
.clr-drk-grey:not(.collapsed) {
   color: #4A4A4A;    
}
/* set company logo image maxx size */
.logo_max{
   max-width: 130px;
}
/* light custom background for icon */
.icon-bg-light{
background-color: #494949;
color: #fff;
}